<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.smartcampus.mapper.ex.OptionEXMapper">
    <resultMap id="abn" type="com.briup.smartcampus.bean.ex.OptionEX">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="label" property="label"></result>
        <result column="score" property="score"></result>
        <association property="question" column="question_id"
                     select="selectQuestion"></association>
        
        
    </resultMap>
    <select id="findAll" resultMap="abn">
        select * from briup_options
    </select>
    <select id="selectQuestion" resultType="com.briup.smartcampus.bean.Question">
        select * from briup_question where id = #{id}

    </select>
</mapper>