<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.briup.smartcampus.mapper.ex.QuestionnaireEXMapper">
    <select id="selectNameById" resultType="com.briup.smartcampus.bean.Questionnaire">
        select * from briup_questionnaire where id=#{id}
    </select>

    <select id="selectNameByWord" resultType="com.briup.smartcampus.bean.Questionnaire">
        select * from briup_questionnaire where name like #{word} or description like #{word}
    </select>

    <select id="selectAll" resultType="com.briup.smartcampus.bean.Questionnaire">
        select * from briup_questionnaire
    </select>
    <resultMap id="abc" type="com.briup.smartcampus.mapper.QqnMapper">
         <id column="question_id" property="id"></id>

        <collection property="questions"
                    ofType="com.briup.smartcampus.bean.Qqn"
                    column="questionnaire_id"
                    select="selectQuestion"></collection>
    </resultMap>
    <insert id="insertQuestionnaire" >
        insert into briup_questionnaire values(#{name} #{description})
    </insert>

    <insert id="insertQuestion" keyColumn="id">
        <selectKey keyColumn="questionnaire_id" keyProperty="questionnaire_id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        insert into briup_qqn values (#{id}#{questionnaire_id})
    </insert>

</mapper>
