<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.smartcampus.mapper.ex.SurveyEXMapper">
    <resultMap id="abn" type="com.briup.smartcampus.bean.ex.SurveyEX">
        <id column="id" property="id"></id>
        <result column="status" property="status"></result>
        <result column="code" property="code"></result>
        <result column="surveyday" property="surveyday"></result>
        <result column="department_id" property="departmentId"></result>
        <result column="course_id" property="courseId"></result>
        <result column="clazz_id" property="clazzId"></result>
        <result column="teacher_id" property="teacherId"></result>
        <result column="questionnaire_id" property="questionnaireId"></result>
        <result column="average" property="average"></result>

    </resultMap>
</mapper>